{% ckan_extends %}

{% block header_site_navigation_tabs %}

{{ h.build_nav_main(
('search', _('Datasets')),
('record_index', _('Records')),
('record_map_index', _('Map')),
('organizations_index', _('Organizations')),
('group_index', _('Groups')),
('home.about', _('About'))
) }}

{% endblock %}

{% block header_site_search %}

<form class="section site-search simple-input" action="{% url_for 'search' %}" method="get">
    <div class="field">
        <label for="field-sitewide-search">
            {% block header_site_search_label %}{{ _('Search Datasets') }}{% endblock %}
        </label>
        <input id="field-sitewide-search" type="text" class="form-control" name="q" placeholder="{{ _('Search') }}"/>
        <button class="btn-search" type="submit"><i class="fa fa-search"></i></button>
    </div>
</form>

{% endblock %}